<a href="https://colab.research.google.com/github/ignacio-chacon/crypto_trading_ai/blob/main/baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ta
  Downloading ta-0.10.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from ta) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from ta) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->ta) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->ta) (1.16.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py) ... done
  Created wheel for ta: filename=ta-0.10.2-py3-none-any.whl size=29103 sha256=6840ea5d2dfe2b0928cf2519b9b82307baf6e55842d729fc626cb1b032927163
  Stored in directory: /root/.cache/pip/wheels/6a/76/03/7f785aaa50b9c6ec7e3fd105a62c1b2c45a034512d51e024a9
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.10.2

In [3]:
import pandas as pd
import ta

In [4]:
df_hist_data = pd.concat([pd.read_csv("https://github.com/ignacio-chacon/crypto_trading_ai/raw/main/hist_data_1.csv"),
                         pd.read_csv("https://github.com/ignacio-chacon/crypto_trading_ai/raw/main/hist_data_2.csv")])

In [5]:
df_hist_data.head()

,date,open,high,low,close,Volume BTC,Volume USD
0,2017-01-01 00:00:00,966.34,966.37,966.16,966.37,15.697376,15169.245264
1,2017-01-01 00:05:00,966.43,966.58,966.43,966.58,0.438732,424.053962
2,2017-01-01 00:10:00,966.57,966.57,964.60,965.55,6.661770,6434.262218
3,2017-01-01 00:15:00,965.59,966.57,965.55,965.55,20.773385,20078.145181
4,2017-01-01 00:20:00,965.55,966.54,964.87,964.87,0.670923,647.704320

In [11]:
df_hist_data_ta = ta.add_all_ta_features(df_hist_data,open="open", high="high", low="low", close="close", volume="Volume BTC", fillna = True)

/usr/local/lib/python3.9/dist-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/usr/local/lib/python3.9/dist-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

In [12]:
df_hist_data_ta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 542925 entries, 0 to 292924
Data columns (total 93 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       542925 non-null  object
 1   open                       535063 non-null  float64
 2   high                       535063 non-null  float64
 3   low                        535063 non-null  float64
 4   close                      535063 non-null  float64
 5   Volume BTC                 542925 non-null  float64
 6   Volume USD                 542925 non-null  float64
 7   volume_adi                 542925 non-null  float64
 8   volume_obv                 542925 non-null  float64
 9   volume_cmf                 542925 non-null  float64
 10  volume_fi                  542925 non-null  float64
 11  volume_em                  542925 non-null  float64
 12  volume_sma_em              542925 non-null  float64
 13  volume_vpt                 542925 non-null  float64
 14  volume_vwap                542925 non-null  float64
 15  volume_mfi                 542925 non-null  float64
 16  volume_nvi                 542925 non-null  float64
 17  volatility_bbm             542925 non-null  float64
 18  volatility_bbh             542925 non-null  float64
 19  volatility_bbl             542925 non-null  float64
 20  volatility_bbw             542925 non-null  float64
 21  volatility_bbp             542925 non-null  float64
 22  volatility_bbhi            542925 non-null  float64
 23  volatility_bbli            542925 non-null  float64
 24  volatility_kcc             542925 non-null  float64
 25  volatility_kch             542925 non-null  float64
 26  volatility_kcl             542925 non-null  float64
 27  volatility_kcw             542925 non-null  float64
 28  volatility_kcp             542925 non-null  float64
 29  volatility_kchi            542925 non-null  float64
 30  volatility_kcli            542925 non-null  float64
 31  volatility_dcl             542925 non-null  float64
 32  volatility_dch             542925 non-null  float64
 33  volatility_dcm             542925 non-null  float64
 34  volatility_dcw             542925 non-null  float64
 35  volatility_dcp             542925 non-null  float64
 36  volatility_atr             542925 non-null  float64
 37  volatility_ui              542925 non-null  float64
 38  trend_macd                 542925 non-null  float64
 39  trend_macd_signal          542925 non-null  float64
 40  trend_macd_diff            542925 non-null  float64
 41  trend_sma_fast             535074 non-null  float64
 42  trend_sma_slow             535088 non-null  float64
 43  trend_ema_fast             542925 non-null  float64
 44  trend_ema_slow             542925 non-null  float64
 45  trend_vortex_ind_pos       542925 non-null  float64
 46  trend_vortex_ind_neg       542925 non-null  float64
 47  trend_vortex_ind_diff      542925 non-null  float64
 48  trend_trix                 542925 non-null  float64
 49  trend_mass_index           542925 non-null  float64
 50  trend_dpo                  542925 non-null  float64
 51  trend_kst                  542925 non-null  float64
 52  trend_kst_sig              542925 non-null  float64
 53  trend_kst_diff             542925 non-null  float64
 54  trend_ichimoku_conv        542925 non-null  float64
 55  trend_ichimoku_base        542925 non-null  float64
 56  trend_ichimoku_a           542925 non-null  float64
 57  trend_ichimoku_b           542925 non-null  float64
 58  trend_stc                  542925 non-null  float64
 59  trend_adx                  542925 non-null  float64
 60  trend_adx_pos              542925 non-null  float64
 61  trend_adx_neg              542925 non-null  float64
 62  trend_cci                  542925 non-null  float64
 63  trend_visual_ichimoku_a    542925 non-null  float64
 64  trend_visual_ichimoku_b    542925 non-null  float64
 65  trend_aroon_up             542925 non-null  float64
 66  trend_aroon_down           542925 non-null  float64
 67  trend_aroon_ind            542925 non-null  float64
 68  trend_psar_up              542925 non-null  float64
 69  trend_psar_down            542925 non-null  float64
 70  trend_psar_up_indicator    542925 non-null  float64
 71  trend_psar_down_indicator  542925 non-null  float64
 72  momentum_rsi               542925 non-null  float64
 73  momentum_stoch_rsi         542925 non-null  float64
 74  momentum_stoch_rsi_k       542925 non-null  float64
 75  momentum_stoch_rsi_d       542925 non-null  float64
 76  momentum_tsi               542925 non-null  float64
 77  momentum_uo                542925 non-null  float64
 78  momentum_stoch             542925 non-null  float64
 79  momentum_stoch_signal      542925 non-null  float64
 80  momentum_wr                542925 non-null  float64
 81  momentum_ao                542925 non-null  float64
 82  momentum_roc               542925 non-null  float64
 83  momentum_ppo               542925 non-null  float64
 84  momentum_ppo_signal        542925 non-null  float64
 85  momentum_ppo_hist          542925 non-null  float64
 86  momentum_pvo               542925 non-null  float64
 87  momentum_pvo_signal        542925 non-null  float64
 88  momentum_pvo_hist          542925 non-null  float64
 89  momentum_kama              542925 non-null  float64
 90  others_dr                  542925 non-null  float64
 91  others_dlr                 542925 non-null  float64
 92  others_cr                  542925 non-null  float64
dtypes: float64(92), object(1)
memory usage: 405.5+ MB

In [22]:
def window_input(window_length: int, data: pd.DataFrame) -> pd.DataFrame:
    
    df = data.copy()
    i = 1
    while i < window_length:
        df[f'x_{i}'] = df['close'].shift(-i)
        i = i + 1
        
    if i == window_length:
        df['y'] = df['close'].shift(-i)
        
    # Drop rows where there is a NaN
    df = df.dropna(axis=0)
    df["date"] = pd.to_datetime(df["date"])
    df.set_index("date", inplace = True)
    return df
  
df_hist_btc_window = window_input(5, df_hist_data_ta)

In [23]:
df_hist_btc_window.head()

,open,high,low,close,Volume BTC,Volume USD,volume_adi,volume_obv,volume_cmf,volume_fi,...,momentum_pvo_hist,momentum_kama,others_dr,others_dlr,others_cr,x_1,x_2,x_3,x_4,y
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,966.34,966.37,966.16,966.37,15.697376,15169.245264,15.697376,15.697376,1.000000,0.000000,...,0.000000,966.370000,-94.038374,0.000000,0.000000,966.58,965.55,965.55,964.87,965.24
2017-01-01 00:05:00,966.43,966.58,966.43,966.58,0.438732,424.053962,16.136109,16.136109,1.000000,0.092134,...,-6.684725,966.463558,0.021731,0.021728,0.021731,965.55,965.55,964.87,965.24,965.24
2017-01-01 00:10:00,966.57,966.57,964.60,965.55,6.661770,6434.262218,15.899396,9.474338,0.697407,-0.901260,...,-8.164594,966.057571,-0.106561,-0.106618,-0.084854,965.55,964.87,965.24,965.24,966.39
2017-01-01 00:15:00,965.59,966.57,965.55,965.55,20.773385,20078.145181,-4.873989,30.247723,-0.111862,-0.772509,...,-1.798234,965.832695,0.000000,0.000000,-0.084854,964.87,965.24,965.24,966.39,966.38
2017-01-01 00:20:00,965.55,966.54,964.87,964.87,0.670923,647.704320,-5.544912,29.576800,-0.125331,-0.727326,...,-7.560502,965.406006,-0.070426,-0.070451,-0.155220,965.24,965.24,966.39,966.38,966.97